@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  background-image: url(../img/backgroung.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
  min-width: 700px;
}

nav {
  background-color: #ff4b2b;
  max-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 5vw;
  margin-left: 5vw;
  color: #fff;
  text-shadow: 2px 1px 5px #3d3d3d;
}
.material-symbols-outlined {
  vertical-align: bottom;
}

.iconos .material-symbols-outlined {
  color: #fff;
  font-size: 3vw !important;
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0;
  text-shadow: 2px 1px 5px #3d3d3d;
  margin-left: 1.25vw;
}
.iconos {
  margin-right: 3vw;
  min-width: 15vw;
  max-height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.iconos .material-symbols-outlined:hover {
  transform: scale(1.3);
  transition-duration: 1s;
  transition: ease-out;
  cursor: pointer;
}

.carrouselHeader {
  margin: 8vh 5vw;
}

.productos {
  margin: 2vh 5vw;
  display: flex;
}

.filtros {
  padding: 1vh 1vw;
  width: 20%;
  height: 50vh;
}
#frameprod {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: 6000px;
}
#frameprod iframe {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}

.filtros .material-symbols-outlined {
  font-size: 18px !important;
  vertical-align: middle;
  margin-right: 2px;
}
.conTabla {
  margin: 0 15vw;
  padding: 1%;
}

#saludo {
  align-self: center;
  font-size: 3vw;
  font-weight: bolder;
  margin-top: 4vh;
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important;
}
button#este.accordion-button::after {
  opacity: 0;
}
.form-control-lg {
  margin: 0.5vh -0.75vw !important;
}
form {
  display: flex !important;
}

.clear {
  all: unset !important;
}

#tablas {
  background-color: #ffffff00;
  background-image: none;
  margin-top: 0;
  height: auto;
}
div.menutabla {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.atabla {
  background-color: rgb(255, 255, 255);
  color: #2c2c2c;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  margin: 1vw 3vw;
}
#frametabla {
  height: 3000px;
}
div.estilomod {
  background-color: #ffffffce !important;
  width: 80%;
  height: 3500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formmod {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 1vw;
}

#h2form {
  margin-top: 2vw !important;
}