.bodyframe {
  background-color: #ffffff00;
  background-image: none;
}
.card {
  margin: 1vw;
  max-width: 22vw;
  border-radius: 13px;
}

.card-img-top {
  height: 90%;
}
.card-body {
  text-decoration: none;
}
.card-body h3 {
  width: 100%;
  font-size: 30px;
  color: black;
}
.card-body span {
  width: 100%;
  font-size: 20px;
  color: rgb(52, 83, 117);
}

div.container {
  margin: 0px !important;
  max-width: 120% !important;
}
div.row {
  max-width: 120% !important;
}
h5.card-title {
  color: rgb(78, 78, 78);
}

.ver {
  background-color: #fff !important;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  height: 10vh;
}
.titlever {
  flex-wrap: wrap;
  padding: 3vw 1vw 0 0;
  margin: 3vw;
}
.nombrever {
  font-size: 4em;
  color: #ff4b2b;
}
.modelover {
  color: grey;
}
.imgver {
  height: 80% !important;
  border-radius: 25px;
  margin: auto 0;
}
button.botonver {
  background-color: cornflowerblue;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 3vw;
}
a {
  color: #fff !important;
  font-size: 1.5em;
  text-decoration: none;
}
